@import "partials/setup";

// html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*,* :before, *:after {
//    box-sizing: border-box;
// }

    // color: #e5e5e5;
html {
    font-size: 62.5%;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

body {
    font-size: 1vw;
    font-family: 'Helvetica';
    background-color: rgb(3, 3, 3);
    color: #fff;
}

.wrapper {
    padding: 2.5%;

}
header {
    background-color: #000;
    color: #fff;
    padding: 1em 2em;
    margin-bottom: 2%;
    width: 100%;
}

.top-header {
   display: flex;
   justify-content: space-between;
}

.top-header a {
   text-decoration: none;
   &:hover {
       text-decoration: underline #B9090B;
   }
}

nav {
    width: 83%;
    text-align: right;
}

nav a {
   color: #fff;
   font-size: 14px;
   text-decoration: none;
   padding: 0 10px;
}

h1 {
   color: #B9090B;
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
}

h2 {
    color: #eee;
    font-size: 2em;
    font-weight: 300;
}

h3 {
    color: #eee;
    font-size: 1.5em;
}

h4 {
    font-size: 1em;   
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

.signin-button {
    display: inline;
    button {
        display: inline;
        border: none;
        background: none;
        color: #fff;
       font-size: 14px;
       text-decoration: none;
       padding: 2%;
       &:hover {
            text-decoration: underline #B9090B;
       }
    }
}


// BROWSE STYLES
.movie-catalogue {
   display: flex;
   flex-wrap: wrap;
}

.movie-catalogue__movie {
    margin: 2% 0.5%;
   width: 19%;
       position: relative;
   &:hover {
       transform: scale(1.1);
   }
}

.icon {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    .fa-circle {
        color: lightgray;
    }
}

.show-details  {
//    margin: 0 auto;
   text-align: center;
}

.movie-catalogue img {
   max-width: 100%;
}


// TV&MOVIE DEATAILS SYTLES
.movie-single__poster {
   display: flex;
   justify-content: space-between;
}

// .movie-single__image img {
//     width: 100%;
//     position: relative;

// }
.movie-single__description {
   width: 49%;
//    position: absolute;
   z-index: 1;
}

.movie-single__description h4 {
  display: inline-block;
  margin-right: 1em;
}

.movie-single__description p {
   line-height: 1.5;
   
}

.movie-single__description {
    a {
        font-size: 1vw;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: .75em;
        padding: .57em 1.35em;
        color: #fff;
        background: red;
        border: 2px solid red;
        text-decoration: none;
    }
}

.movie-single__description {
    button {
        font-size: 1vw;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: .75em;
        padding: .57em 1.35em;
        color: #fff;
        border: 2px solid #fff;
        background: none;
        text-decoration: none;
    i {
        color: #fff;
    }
    }
}

.search-fields{
    color: #eee;
    padding: 5px;
    font-size: 23px;
}